{% extends "base.html" %}

{% block content %}
    <section id="screen-title">
        <h2>Edit movie {{ m.title }}</h2>
    </section>
    <section id="content">
        <div>
            <form action=# method="POST">
                <div class="label">
                    <label>
                        <p>Title:</p>
                        <input type="text" name="title" value="{{ m.title }}">
                    </label>
                </div>
                <div class="label">
                    <label>
                        <p>Director:</p>
                        <select size="1" name="director">
                            {% for d in people_all %}
                                <option value="{{ d.id }}"
                                        {% if m.director.id == d.id %}selected{% endif %}>{{ d.first_name }} {{ d.last_name }}</option>
                            {% endfor %}
                        </select> *
                    </label>
                </div>
                <div class="label">
                    <label>
                        <p>Screenplay:</p>
                        <select size="1" name="screenplay">
                            {% for s in people_all %}
                                <option value="{{ s.id }}"
                                        {% if m.screenplay.id == s.id %}selected{% endif %}>{{ s.first_name }} {{ s.last_name }}</option>
                            {% endfor %}
                        </select> *
                    </label>
                </div>
                <div class="label">
                    <label>
                        <p>Starring:</p>
                        <select name="starring" multiple>
                            <option value="None"/>
                            {% for star in people_all %}
                                <option value="{{ star.id }}"
                                        {% if star in stars %}selected{% endif %}>{{ star.first_name }} {{ star.last_name }}</option>
                            {% endfor %}
                        </select> *<br>
                        <span id="note">*People are missing in the list? Go to People in the menu to add them</span>
                    </label>
                </div>
                <div class="label">
                    <label>
                        <p>Year:</p>
                        <input type="number" name="year" value="{{ m.year }}" min="1900" step="1">
                    </label>
                </div>
                <div class="label">
                    <label>
                        <p>Rating:</p>
                        <input type="number" name="rating" value="{{ m.rating }}" min="1.0" max="10.0" step=".1">
                    </label>
                </div>
                <div class="label">
                    <label>
                        <p>Genres:</p>
                        <select name="genres" multiple>
                            <option value="None"/>
                            {% for genre in genres_all %}
                                <option value="{{ genre.id }}"
                                        {% if genre in genres %}selected{% endif %}>{{ genre.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <div class="label">
                    <input type="submit" name="convertionType">
                    {% csrf_token %}
                </div>
            </form>
        </div>
        <p>{{ error }}</p>
    </section>
{% endblock %}