{% extends "base.html" %}

{% block content %}
    <section id="screen-title">
        <h2>Movie list</h2>
    </section>
    <section id="content">
        <div>
            <form method="GET">
                <span>Sort by:</span>
                <button type="submit" name="sorted" value="0">Default</button>
                <button type="submit" name="sorted" value="1">Rating: High to low</button>
                <button type="submit" name="sorted" value="2">Rating: Low to high</button>
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                </tr>
                <tbody>
                {% for i in m %}
                    <tr>
                        <td><a href="{% url "movie_details" i.id %}">{{ i.title }}</a> <sup><a
                                href="{% url "edit_movie" i.id %}">Edit</a></sup>
                        </td>
                        <td>{{ i.year }}</td>
                        <td>{{ i.director.last_name }}</td>
                        <td>{{ i.rating }}</td>
                        <td><a href="{% url "delete_movie" i.id %}" class="button">Delete movie</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <p><a href="{% url "add_movie" %}">Add movie to list</a></p>
        </div>
    </section>
{% endblock %}