{% extends "base.html" %}

{% block content %}
    <section id="screen-title">
        <h2>Book room</h2>
    </section>
    <section id="content">
        <div>
            <p><b>Name:</b> {{ room.name }}</p>
            <p><b>Capacity:</b> {{ room.capacity }}</p>
            <p><b>Have projector:</b> {% if room.have_projector %}Yes{% else %}No{% endif %}</p>
        </div>
        <div>
            <form action="#" method="POST">
                <input type="hidden" name="room_id" value="{{ room.id }}">
                <label>
                    Reservation date:<br>
                    <input type="date" name="date" min="{{ now }}"><br>
                </label>
                <label>
                    Comment:<br>
                    <textarea name="comment" rows="4" cols="50">{{ comment }}</textarea><br>
                </label>
                <input type="submit" name="confirm">
                {% csrf_token %}
            </form>
        </div>
    {% if reservation_date %}
        <div>
            <p><b>Room booked for: {{ reservation_date }}</b></p>
        </div>
    {% elif error %}
        <div>
            <p class="errors">This room is already booked on the chosen day, pick another one</p>
        </div>
    {% endif %}
    </section>
{% endblock %}